.font {
  font-weight: 600;
}
.success {
  composes: font;
  color: green;
}
.failed {
  composes: font;
  color: orange;
}
.error {
  composes: font;
  color: red;
}
.currentStatus {
  color: inherit;
}
